<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Thymeleaf Hello World Example</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>
<body>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Servings</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${recipes.empty}">
        <td colspan="2"> No Recipes Available</td>
    </tr>
    <tr th:each="recipe : ${recipes}">
        <td><span th:text="${recipe.id}"> Id </span></td>
        <td><span th:text="${recipe.servings}"> Servings </span></td>
    </tr>
    </tbody>
</table>
</body>
